.git
.gitignore
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.env.*
docker-compose.yml
docker/
.idea
.vscode
npm-debug.log
yarn-error.log
*.sql
*.zip
.docker/