.git
.gitignore
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
# Allow .env file to be copied (created by GitHub Actions workflow)
# Still exclude encrypted .env files
.env.*.encrypted
.env.example
docker-compose.yml
docker/
.idea
.vscode
npm-debug.log
yarn-error.log
*.sql
*.zip
.docker/