APP_NAME=Lynk
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

WALLET_DB_HOST=127.0.0.1
WALLET_DB_PORT=3306
WALLET_DB_DATABASE=lynk-wallet
WALLET_DB_USERNAME=root
WALLET_DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@lynk.sa"
MAIL_FROM_NAME="${APP_NAME}"

SES_ACCESS_KEY_ID=
SES_SECRET_ACCESS_KEY=
SES_DEFAULT_REGION=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OTPIFY_DEFAULT_DRIVER=
OTPIFY_CODE_LENGTH=
OTPIFY_CODE_EXPIRATION_TIME=


AUTHORIZED_TOKEN_LENGTH=

DEFAULT_GUARD=api
PERMISSION_GUARDS=api,web

GRANTIFY_DEFAULT_DRIVER=

SETTINGS_CACHE_ENABLED=

HOST_WHITELIST='bimventures.com,Lynk.com'

TELESCOPE_ENABLED=true
TELESCOPE_PRUNE_HOURS=72
TELESCOPE_DB_CONNECTION=telescope
TELESCOPE_DB_HOST=127.0.0.1
TELESCOPE_DB_PORT=3306
TELESCOPE_DB_DATABASE=telescope
TELESCOPE_DB_USERNAME=root
TELESCOPE_DB_PASSWORD=

DEFAULT_TRADER=
MSEGAT_USERNAME=
MSEGAT_API_KEY=

WALLET_CACHE_DRIVER=database
WALLET_CACHE_TTL=86400
WALLET_LOCK_DRIVER=database
WALLET_LOCK_SECONDS=1

DEFAULT_PDF_GENERATOR=
STATIC_PDF_STORAGE_DRIVER=

MOBILE_VERIFY_DEFAULT_DRIVER=
MOBILE_VERIFY_TCC_API_KEY=

PUBLIC_DISK=

EDAAT_BASE_URL=
EDAAT_USERNAME=
EDAAT_PASSWORD=
EDAAT_WEBHOOK_URL=
EDAAT_PRODUCT=
EDAAT_COMPANY=
EDAAT_PAYMENT_URL=
EDAAT_BILL_URL=
EDAAT_RECONCILE_URL=
EDAAT_VERIFY_TLS_CERTS=

BURSAM_SELLING_COMMODITY_START_TIME=
BURSAM_SELLING_COMMODITY_END_TIME=
BURSAM_HTTP_TIMEOUT_SECONDS=30

// Login With Master Key
ALLOW_VERIFY_WITH_MASTER_KEY=
MASTER_OTP_KEY=

// Recaptcha Settings
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=





# deprecated not used anymore
## Twilio
OTPIFY_TWILIO_SID=
OTPIFY_TWILIO_TOKEN=
OTPIFY_TWILIO_FROM=
OTPIFY_TWILIO_VERIFY_SID=
OTPIFY_TWILIO_SSL_VERIFY_PEER=
OTPIFY_TWILIO_SSL_VERIFY_HOST=

# mailgun
MAILGUN_DOMAIN=
MAILGUN_SECRET=

# sendgrid
#MAIL_MAILER=sendgrid
#SENDGRID_API_KEY=
#MAIL_FROM_ADDRESS="noreply@lynk.sa"
#MAIL_FROM_NAME="${APP_NAME}"


REDIS_RETRY_AFTER=120

# Nightwatch
NIGHTWATCH_TOKEN=
NIGHTWATCH_REQUEST_SAMPLE_RATE=0.2 # sampling requests with nightwatch
NIGHTWATCH_IGNORED_TABLES=sessions,cache,jobs,failed_jobs,cache_locks,local_market_live,media,local_market_inventory_units,local_market_eligible_quantities,trader_histories,settings,permissions

RABBITMQ_QUEUE_NAME=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=

WEBHOOK_TIMEOUT_IN_SECONDS=10
