APP_NAME=Lynk
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OTPIFY_DEFAULT_DRIVER=
OTPIFY_CODE_LENGTH=
OTPIFY_CODE_EXPIRATION_TIME=

OTPIFY_TWILIO_SID=
OTPIFY_TWILIO_TOKEN=
OTPIFY_TWILIO_FROM=
OTPIFY_TWILIO_VERIFY_SID=
OTPIFY_TWILIO_SSL_VERIFY_PEER=
OTPIFY_TWILIO_SSL_VERIFY_HOST=
AUTHORIZED_TOKEN_LENGTH=

PERMISSION_GUARDS=web,api

GRANTIFY_DEFAULT_DRIVER=

SETTINGS_CACHE_ENABLED=

HOST_WHITELIST='bimventures.com,Lynk.com'
TELESCOPE_ENABLED=true

MSEGAT_USERNAME=
MSEGAT_API_KEY=

WALLET_CACHE_DRIVER=database
WALLET_CACHE_TTL=86400
WALLET_LOCK_DRIVER=database
WALLET_LOCK_SECONDS=1

MOBILE_VERIFY_DEFAULT_DRIVER=tcc
MOBILE_VERIFY_TCC_API_KEY=